In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# from ydata_profiling import ProfileReport

In [66]:
# pip install ydata_profiling 
# pip install ipywidgets

In [67]:
file_path = r"C:\Users\Ivan\Documents\Data Analytics\Parte 5 Proyecto y Presentación\Sprint 10 Proyecto Final\MERCAMADRID\volpre2024.csv"
df = pd.read_csv(file_path, delimiter=';')
df.head()

# tal vez mejor trabajar con 2023 dataset

,Fecha Desde,Fecha Hasta,Código Variedad,Descripción Variedad,Origen,Descripción Origen,Kilos,Precio Más Frecuente,Precio Máximo,Precio Mínimo
0,20240101,20240131,CA 0101,VACUNO CANAL,1,ALAVA,45830,"5,9","5,91","5,89"
1,20240101,20240131,CA 0101,VACUNO CANAL,5,AVILA,21140,"5,91","5,91","5,91"
2,20240101,20240131,CA 0101,VACUNO CANAL,8,BARCELONA,137340,"5,91","5,91","5,9"
3,20240101,20240131,CA 0101,VACUNO CANAL,9,BURGOS,42456,"5,9","5,91","5,89"
4,20240101,20240131,CA 0101,VACUNO CANAL,10,CACERES,2230424,"5,9","5,91","5,89"

# 1. Limpieza de datos

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27579 entries, 0 to 27578
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fecha Desde            27579 non-null  object
 1    Fecha Hasta           27579 non-null  object
 2    Código Variedad       27579 non-null  object
 3    Descripción Variedad  27579 non-null  object
 4    Origen                27579 non-null  object
 5    Descripción Origen    27579 non-null  object
 6    Kilos                 27579 non-null  object
 7    Precio Más Frecuente  27579 non-null  object
 8    Precio Máximo         27579 non-null  object
 9    Precio Mínimo         27579 non-null  object
dtypes: object(10)
memory usage: 2.1+ MB

Todas las columnas estan en formato object hará falta editarlo.

In [69]:
# Valores nulos
null_values_count = df.isnull().sum()
null_values_count

Fecha Desde              0
 Fecha Hasta             0
 Código Variedad         0
 Descripción Variedad    0
 Origen                  0
 Descripción Origen      0
 Kilos                   0
 Precio Más Frecuente    0
 Precio Máximo           0
 Precio Mínimo           0
dtype: int64

No hay valores nulos

In [70]:
# eliminar espacios en nombre de columnas
df.columns = df.columns.str.strip().str.replace(' ', '_').str.lower()
df.columns

Index(['fecha_desde', 'fecha_hasta', 'código_variedad', 'descripción_variedad',
       'origen', 'descripción_origen', 'kilos', 'precio_más_frecuente',
       'precio_máximo', 'precio_mínimo'],
      dtype='object')

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27579 entries, 0 to 27578
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fecha_desde           27579 non-null  object
 1   fecha_hasta           27579 non-null  object
 2   código_variedad       27579 non-null  object
 3   descripción_variedad  27579 non-null  object
 4   origen                27579 non-null  object
 5   descripción_origen    27579 non-null  object
 6   kilos                 27579 non-null  object
 7   precio_más_frecuente  27579 non-null  object
 8   precio_máximo         27579 non-null  object
 9   precio_mínimo         27579 non-null  object
dtypes: object(10)
memory usage: 2.1+ MB

In [72]:
# Convertimos importe a float

df['precio_más_frecuente'] = df['precio_más_frecuente'].str.replace(',', '.').str.strip()

df['precio_más_frecuente'] = pd.to_numeric(df['precio_más_frecuente'], errors = 'coerce') 

df['precio_más_frecuente'].head()

0    5.90
1    5.91
2    5.91
3    5.90
4    5.90
Name: precio_más_frecuente, dtype: float64

In [73]:
df['precio_más_frecuente'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 27579 entries, 0 to 27578
Series name: precio_más_frecuente
Non-Null Count  Dtype
--------------  -----
27571 non-null  float64
dtypes: float64(1)
memory usage: 215.6 KB

In [74]:
df['precio_máximo'] = df['precio_máximo'].astype(str).str.replace(',', '.').str.strip()

df['precio_máximo'] = pd.to_numeric(df['precio_máximo'], errors = 'coerce')  # Tengo un valor en el 3015 nan

df['precio_máximo'].head()

0    5.91
1    5.91
2    5.91
3    5.91
4    5.91
Name: precio_máximo, dtype: float64

In [75]:
df['precio_mínimo'] = df['precio_mínimo'].astype(str).str.replace(',', '.').str.strip()

df['precio_mínimo'] = pd.to_numeric(df['precio_mínimo'], errors = 'coerce')  # Tengo un valor en el 3015 nan

df['precio_mínimo'].head()

0    5.89
1    5.91
2    5.90
3    5.89
4    5.89
Name: precio_mínimo, dtype: float64

In [76]:
df[df.isnull().any(axis=1)]  # me replicaron los encabezados

,fecha_desde,fecha_hasta,código_variedad,descripción_variedad,origen,descripción_origen,kilos,precio_más_frecuente,precio_máximo,precio_mínimo
3015,Fecha Desde,Fecha Hasta,Código Variedad,Descripción Variedad,Origen,Descripción Origen,Kilos,NaN,NaN,NaN
5767,Fecha Desde,Fecha Hasta,Código Variedad,Descripción Variedad,Origen,Descripción Origen,Kilos,NaN,NaN,NaN
8641,Fecha Desde,Fecha Hasta,Código Variedad,Descripción Variedad,Origen,Descripción Origen,Kilos,NaN,NaN,NaN
11701,Fecha Desde,Fecha Hasta,Código Variedad,Descripción Variedad,Origen,Descripción Origen,Kilos,NaN,NaN,NaN
14774,Fecha Desde,Fecha Hasta,Código Variedad,Descripción Variedad,Origen,Descripción Origen,Kilos,NaN,NaN,NaN
17979,Fecha Desde,Fecha Hasta,Código Variedad,Descripción Variedad,Origen,Descripción Origen,Kilos,NaN,NaN,NaN
21197,Fecha Desde,Fecha Hasta,Código Variedad,Descripción Variedad,Origen,Descripción Origen,Kilos,NaN,NaN,NaN
24225,Fecha Desde,Fecha Hasta,Código Variedad,Descripción Variedad,Origen,Descripción Origen,Kilos,NaN,NaN,NaN

In [77]:
null_values_count = df.isnull().sum()
null_values_count

fecha_desde             0
fecha_hasta             0
código_variedad         0
descripción_variedad    0
origen                  0
descripción_origen      0
kilos                   0
precio_más_frecuente    8
precio_máximo           8
precio_mínimo           8
dtype: int64

In [78]:
# Eliminar filas con nulos
df = df[df.notnull()]

In [79]:
# comprobación que se eliminaron las filas con nulos(parece que no funciono talvez se tendria que usar dropna directamente)
null_values_count = df.isnull().sum() 
null_values_count

fecha_desde             0
fecha_hasta             0
código_variedad         0
descripción_variedad    0
origen                  0
descripción_origen      0
kilos                   0
precio_más_frecuente    8
precio_máximo           8
precio_mínimo           8
dtype: int64

In [80]:
(df['precio_más_frecuente'] == 0).any()  # Aqui le pregunto si hay algun valor = 0 me dice que si(corregir)

np.True_

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27579 entries, 0 to 27578
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fecha_desde           27579 non-null  object
 1   fecha_hasta           27579 non-null  object
 2   código_variedad       27579 non-null  object
 3   descripción_variedad  27579 non-null  object
 4   origen                27579 non-null  object
 5   descripción_origen    27579 non-null  object
 6   kilos                 27579 non-null  object
 7   precio_más_frecuente  27571 non-null  float64
 8   precio_máximo         27571 non-null  float64
 9   precio_mínimo         27571 non-null  float64
dtypes: float64(3), object(7)
memory usage: 2.1+ MB

In [82]:
# Transformación kilos a formato integer
df['kilos'].info()

# primero es necesario transformarlo en float dado que INT no admite Nan(nulos)
df['kilos'] = pd.to_numeric(df['kilos'], errors = 'coerce').astype(float) 

# eliminación de nulos
df = df.dropna()
# df['kilos'] = df['kilos'].dropna() no me funcionaba eliminar solo de una columna

<class 'pandas.core.series.Series'>
RangeIndex: 27579 entries, 0 to 27578
Series name: kilos
Non-Null Count  Dtype
--------------  -----
27579 non-null  object
dtypes: object(1)
memory usage: 215.6+ KB

In [83]:
# Comprobación
df['kilos'].isnull().sum()
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [fecha_desde, fecha_hasta, código_variedad, descripción_variedad, origen, descripción_origen, kilos, precio_más_frecuente, precio_máximo, precio_mínimo]
Index: []

In [84]:
# Transformación definitiva a INT
df['kilos'] = df['kilos'].astype(int)
print(df['kilos'].info())
print('______________')
print(df['kilos'].head())

<class 'pandas.core.series.Series'>
Index: 27571 entries, 0 to 27578
Series name: kilos
Non-Null Count  Dtype
--------------  -----
27571 non-null  int64
dtypes: int64(1)
memory usage: 430.8 KB
None
______________
0      45830
1      21140
2     137340
3      42456
4    2230424
Name: kilos, dtype: int64

In [85]:
df.head()

,fecha_desde,fecha_hasta,código_variedad,descripción_variedad,origen,descripción_origen,kilos,precio_más_frecuente,precio_máximo,precio_mínimo
0,20240101,20240131,CA 0101,VACUNO CANAL,1,ALAVA,45830,5.90,5.91,5.89
1,20240101,20240131,CA 0101,VACUNO CANAL,5,AVILA,21140,5.91,5.91,5.91
2,20240101,20240131,CA 0101,VACUNO CANAL,8,BARCELONA,137340,5.91,5.91,5.90
3,20240101,20240131,CA 0101,VACUNO CANAL,9,BURGOS,42456,5.90,5.91,5.89
4,20240101,20240131,CA 0101,VACUNO CANAL,10,CACERES,2230424,5.90,5.91,5.89

In [86]:
# Convertir fecha a formato date
df['fecha_desde'] = pd.to_datetime(df['fecha_desde'])
df['fecha_hasta'] = pd.to_datetime(df['fecha_hasta'])

df['fecha_desde']

0       2024-01-01
1       2024-01-01
2       2024-01-01
3       2024-01-01
4       2024-01-01
           ...
27574   2024-09-01
27575   2024-09-01
27576   2024-09-01
27577   2024-09-01
27578   2024-09-01
Name: fecha_desde, Length: 27571, dtype: datetime64[ns]

In [87]:
# Crear columna de variación de precios en el periodo trimestral
df['var_precios'] = df['precio_máximo']-df['precio_mínimo']

In [88]:
df.head()

,fecha_desde,fecha_hasta,código_variedad,descripción_variedad,origen,descripción_origen,kilos,precio_más_frecuente,precio_máximo,precio_mínimo,var_precios
0,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,1,ALAVA,45830,5.90,5.91,5.89,0.02
1,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,5,AVILA,21140,5.91,5.91,5.91,0.00
2,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,8,BARCELONA,137340,5.91,5.91,5.90,0.01
3,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,9,BURGOS,42456,5.90,5.91,5.89,0.02
4,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,10,CACERES,2230424,5.90,5.91,5.89,0.02

In [89]:
# Conocer todas las variedades que se venden
df['descripción_variedad'].nunique()

538

In [90]:
# Separar nombre de producto
df['descripción_variedad'] = df['descripción_variedad'].str.strip()

In [91]:
# Creo columna trimestre con lambda
df['trimestre'] = df['fecha_desde'].apply(
    lambda x: 1 if x.month < 4 else
              2 if x.month < 7 else
              3 if x.month < 10 else
              4
)

In [92]:
# lo mismo pero con comprehensive
df['trimestre'] = [
    1 if value.month < 4 else    
    2 if value.month < 7 else   
    3 if value.month < 10 else   
    4 for value in df['fecha_desde']
]

In [93]:
kil_tri = df.groupby('trimestre')['kilos'].sum()
kil_tri

trimestre
1    739479675
2    878514772
3    763296447
Name: kilos, dtype: int64

In [94]:
# Conocer las variedades de producto
df['descripción_variedad'].unique()

array(['VACUNO CANAL', 'VACUNO DESPIECE AÑOJO', 'VACUNO DESPIECE VACA',
       'VACUNO CASQUERIA', 'VACUNO FRESCO SIN ESPECIF', 'OVINO CANAL',
       'OVINO DESPIECE', 'OVINO FRESCO SIN ESPECIF.', 'PORCINO CANAL',
       'PORCINO DESPIECE', 'PORCINO CASQUERIA', 'PORCINO ELABORADO',
       'PORCINO PRECOCINADO', 'PORCINO FRESCO SIN ESPECI', 'HUEVOS',
       'POLLO', 'PAVO', 'CODORNIZ', 'CONEJO', 'AVICOLA ELABORADO',
       'AGUACATE HASS', 'ALBARICOQUE COMUN', 'CAQUIS',
       'CAQUI ROJO BRILLANTE', 'CAQUI SHARON', 'CASTAÑA NACIONAL',
       'CEREZAS O.V.', 'CIRUELAS GOLDEN', 'CIRUELAS MORADAS', 'COCOS',
       'CHIRIMOYAS', 'DATILES', 'DATIL MEDJOUL', 'FRESON', 'GRANADAS',
       'HIGOS SECOS NACIONALES', 'LIMON PRIMAFIORI',
       'MANDARINAS CLEMENULES', 'MANDARINAS CLEMENVILLES',
       'MANDARINA NADORCOTT', 'MANDARINA ORRI', 'MANZANAS GOLDEN',
       'MANZANAS STARKING', 'MANZANAS REINETA', 'MANZANAS VERDE DONCELLA',
       'MANZANA GRANNY SMITH', 'MANZANA ROYAL GALA', 'MANZANA FUJI',
       'MANZANA PINK LADY', 'MELOCOTON ROJO', 'MELONES PIEL DE SAPO',
       'MELONES CANTALOUP', 'MELONES GALIA', 'MEMBRILLOS',
       'NARANJAS NAVEL', 'NARANJA NAVELINA', 'NARANJA SALUSTIANA',
       'NARANJA SANGUINA', 'NARANJA NAVEL LATE', 'NARANJA LANE LATE',
       'NECTARINA CARNE AMARILLA', 'NUECES', 'PERAS ERCOLINI',
       'PERAS BLANQUILLAS', 'PERAS PASSA CRASSANA',
       'PERAS DOYAN DE COMICE', 'PERAS CONFERENCE', 'PIÑA GOLDEN SWEET',
       'PLATANOS EXTRA', 'PLATANO IMPORT. O BANANA', 'PLATANO MACHO',
       'POMELO ROJO', 'SANDIA CON SEMILLA', 'SANDIA SIN SEMILLA',
       'UVA ALEDO', 'UVA RED GLOBER', 'UVA DOMINGA',
       'UVA SIN SEMILLA BLANCA', 'UVA SIN SEMILLA NEGRA', 'ACEITUNAS',
       'PAPAYA O.V.', 'GUAYABOS', 'MANGOS', 'KIWI KIWIGOLD',
       'KIWI PULPA VERDE', 'FRAMBUESAS', 'PITAHAYA AMARILLA',
       'PITAHAYA ROJA', 'LIMA', 'OCRA', 'PAPAYA GIGANTE', 'LITCHIS',
       'GROSELLA ROJA', 'MORAS', 'CACAHUETE CON SAL', 'CACAHUETE SIN SAL',
       'PANCHITO CON PIEL', 'PANCHITO SIN PIEL', 'PISTACHO IRANI',
       'ALMENDRA LARGUETA TOSTADA', 'ARÁNDANOS', 'ACELGAS', 'AJOS SECOS',
       'AJO TIERNO', 'ALCACHOFAS DE LEVANTE', 'APIO VERDE', 'APIONABO',
       'BERENJENAS MORADAS', 'BONIATOS', 'CALABACIN VERDE',
       'CALABAZAS VIOLIN', 'CALABAZA O.V.', 'CARDOS',
       'CEBOLLA GRANO DE ORO', 'CEBOLLA MORADA', 'CEBOLLA TIERNA',
       'CEBOLLA BLANCA DULCE', 'CEBOLLA FRANCESA/ECHALOTE',
       'CEBOLLA CALÇOTS', 'COLES-REPOLLO', 'COL CHINA',
       'COLES DE BRUSELAS', 'COLIFLOR', 'CHAMPIÑON', 'CHIRIVIAS',
       'ENDIVIA', 'ACHICORIA', 'ESCAROLAS', 'ESPARRAGOS BLANCOS',
       'ESPARRAGO VERDE', 'ESPINACAS', 'GUISANTES', 'HABAS VERDES',
       'JUDIAS VERDES GARRAFAL', 'JUDIA VERDE BOBY', 'JUDIA VERDE HELDA',
       'LECHUGAS ROMANAS', 'LECHUGAS ICEBERG', 'LECHUGA TROCADERO',
       'LECHUGA HOJA DE ROBLE', 'LECHUGA BATAVIA', 'LECHUGA LOLLO ROSSO',
       'COL LOMBARDA', 'NABOS', 'PEPINO CORTO TIPO ESPAÑOL', 'PEREJIL',
       'PIMIENTO VERDE ITALIANO', 'PIMIENTOS ROJOS', 'PIMIENTO DE PADRON',
       'PIMIENTOS LAMUYOS', 'PUERROS', 'RABANOS', 'REMOLACHA',
       'SETAS DE CULTIVO', 'SETAS NISCALOS', 'SETA SHII-TAKE',
       'SETA DE CARDO', 'TOMATE RAF', 'TOMATE PERA', 'TOMATE MAZARRON',
       'TOMATE DANIELA', 'TOMATE EN RAMA', 'TOMATE CHERRY',
       'TOMATE KUMATO', 'ZANAHORIAS O CARLOTA NANT', 'ZANAHORIA EN RAMA',
       'BATATAS YEMA DE HUEVO', 'GRELOS', 'GUINDILLAS ROJAS',
       'GUINDILLAS VERDES', 'BORRAJAS O.V.', 'LAUREL', 'BROCOLI', 'YUCA',
       'MAIZ', 'JENGIBRE', 'YAME O ÑAME', 'CUARTA GAMA HORTALIZAS',
       'QUINTA GAMA HORTALIZAS', 'CONSERVAS VEGETALES',
       'CONGELADOS VEGEALES', 'ELABORADOS VEGETALES', 'CEBOLLINO',
       'GERMINADOS', 'MICROVEGETALES', 'EDDO', 'FLORES COMESTIBLES',
       'HIERBAS AROMÁTICAS', 'PAK CHOI', 'PATATA BLANCA', 'PATATA ROJA',
       'PATATA NUEVA', 'PATATA MONA LISA GRANEL', 'PATATA AGRIA GRANEL',
       'PATATA MONA LISA CONFECCI', 'ACEDIAS', 'ANCHOAS',
       'ATUN ROJO CIMARRON', 'ATUN CLARO O RABIL', 'BACALAO FILETE',
       'BACALAO SALADO', 'BACALAO ENTERO S/C 4/6 KG',
       'BESUGO DE 0,7 A 1 KG', 'BESUGO DE 1 A 1,5 KG.',
       'BESUGO PANCHO 0,5 A 0,6 K', 'BOGAS', 'BOQUERON NACIONAL GRANDE',
       'BOQUERON NCNAL.TERCIADO', 'BOQUERON ITALIAN.TERCIADO',
       'BOQUERON PORTUGUES', 'BONITO S/C.', 'BONITO C/C.', 'BRECAS',
       'CALAMAR', 'CAZON', 'DORADA DE CAPTURA',
       'DORADA ACUIC. MÁS 600 GR', 'DORADA ACUIC. 400-600 GR',
       'DORADA ACUIC. 300-400 GR', 'FANECAS', 'GALLO GRANDE',
       'GALLO MEDIANO', 'GALLO PEQUEÑO', 'HUEVAS', 'JUREL MEDIANO',
       'JUREL PEQUEÑO', 'LENGUADO GRANDE', 'LENGUADO MEDIANO',
       'LENGUADO PEQUEÑO', 'LENGUADO ACUICULTURA', 'LIBA', 'LIRIO',
       'MERLUZA PINCHO +2,5-5 KG.', 'MERLUZA GRAN SOL +2,5-5KG',
       'MERLUZA PINCHO +5 KG.', 'MERLUZA GRAN SOL +5 KG.',
       'MERLUZA DE CHILE', 'PALOMETA-JAPUTA', 'PESCADILLA PINCHO +1 KG.',
       'PESCADILLA POPUL.0,2/0,8K', 'PESCAD. FINA G.SOL -0,2 K',
       'PESCADILLA G.SOL DE +1 KG', 'PESCADILLA NEGRA 0,2 A 1K',
       'PESCADILLA TRIPA 0,2/0,3K', 'PEZ ESPADA', 'COCOCHAS DE MERLUZA',
       'COCOCHAS DE BACALAO', 'COCOCHA DE RAPE', 'PULPO GRANDE',
       'PULPO COCIDO', 'PULPO MEDIANO', 'PULPO PEQUEÑO', 'RAPE COLAS',
       'RAPE C/C.', 'RAYA', 'MENDOS', 'TINTORERA',
       'BACALADILLA-LIRIO GRANDE', 'JIBIA O SEPIA FRESCA GRAN', 'ALIGOTE',
       'ARENQUE', 'BROTOLA ENTERA', 'CABALLA O VERDEL TERCIADA',
       'CACHUCHO', 'CONGRIO', 'CORVINA ACUICULTURA', 'CORVINA SALVAJE',
       'DENTON O SAMA', 'GALLINAS O GALLINETAS', 'LUBINA DE CAPTURA',
       'LUBINA ACUICULTURA GRANDE', 'LUBINA ACUICULTU. MEDIANA',
       'LUBINA ACUICULT. PEQUQEÑA', 'MARUCA', 'PARGO',
       'RODABALLO DE CAPTURA', 'RODABALLO ACUICULTURA', 'ROSADA',
       'FILETE DE SALMON', 'SALMON GRANDE>7KG', 'SALMON MEDIANO 4-5 KG',
       'SARDINA PARROCHA', 'SARGO', 'ANILLAS DE VOLADOR O POTA', 'MERO',
       'ABADEJO', 'BAILAS', 'CHERNAS', 'LENGUADINA', 'PLATIJA',
       'CHIPIRONES', 'SALMONETE DE ROCA', 'SALMONETE DE FANGO',
       'TRUCHA ASALMONADA', 'PERCA O TILAPIA', 'FILETE DE PERCA',
       'SALMON AHUMADO', 'TRUCHA AHUMADA', 'ANCHOA AHUMADA',
       'PALOMETA AHUMADA', 'CARBONERO O FOGONERO', 'GULA', 'SAN PEDRO',
       'SALAZONES', 'TILAPIA', 'ALMEJAS FINAS', 'ALMEJAS BABOSAS',
       'ALMEJAS RUBIAS', 'ALMEJA CULTIVADA', 'CANGREJO DE MAR',
       'CIGALAS GRANDES', 'CIGALAS MEDIANAS', 'CIGALAS PEQUEÑAS',
       'CHIRLA GRANDE -ITALIA-', 'CHIRLA PEQUEÑA -ITALIA-',
       'GAMBAS GIGANTES', 'GAMBAS PLANCHA', 'GAMBAS ARROCERAS',
       'GAMBAS COCIDAS GRANDES', 'GAMBAS COCIDAS MEDIANAS',
       'LANGOSTINO FRESCO', 'LANGOSTINO COCIDO GRANDE',
       'LANGOSTINO COCIDO MEDIANO', 'MEJILLON EXTRA', 'MEJILLON GRANDE',
       'MEJILLON NORMAL', 'PERCEBE NACIONAL', 'PERCEBE IMPORTACION',
       'QUISQUILLA', 'BERBERECHO GRANDE', 'BERBERECHO MEDIANO',
       'BERBERECHO PEQUEÑO', 'BIGAROS O CARACOLILLOS', 'BOGAVANTE GRANDE',
       'BOGAVANTE MEDIANO', 'BUEY', 'CARABINERO GRANDE',
       'CARABINERO MEDIANO', 'CARABINERO PEQUEÑO',
       'CENTOLLA DE IMPORTACION', 'CENTOLLA -GALICIA- GRANDE', 'COQUINAS',
       'CHOCHAS', 'LANGOSTAS', 'NAVAJAS', 'NAVAJA EUROPEA ATLANTICA',
       'NECORAS DE IMPORTACION', 'OSTIONES', 'OSTRA GIGANTE',
       'OSTRA EXTRA', 'OSTRA SUPER', 'VIEIRA GRANDE', 'CARACOLES GRANDES',
       'CARACOLES PEQUEÑOS', 'CAÑADILLA', 'CONCHA FINA O.V.',
       'ERIZO DE MAR', 'ACEDIAS CONG', 'BOQUERON CONG', 'SARDINAS CONG',
       'CALAMAR PATAGONICO CONG', 'CALAMAR CALIFORNIA CONG',
       'CALAMAR NACIONAL CONG', 'CALAMAR INDIO CONG',
       'LENGUADO ENTERO CON PIEL CONG', 'MERLUZA FILETE S/P. CONG',
       'MERLUZA FILETE C/P. CONG', 'MERLUZA N-5 DE +2,5 KG. CONG',
       'MERLUZA N-4 HASTA 2,5 KG. CONG', 'MERLUZA RODAJA CONG',
       'PESCADILLA N-3 HASTA 1,5K CONG', 'PESCADILLA N-2 HASTA 0,8K CONG',
       'PESCADILLA N-1 HASTA 0,5K CONG', 'PESCADILLA N-0 H. 0,250 K CONG',
       'GAMBA GRANDE CON CABEZA CONG', 'GAMBA MEDIANA CON CABEZA CONG',
       'GAMBA PEQUEÑA CON CABEZA CONG', 'GAMBA SIN CABEZA (COLAS) CONG',
       'LANGOSTINO GRANDE CONG', 'LANGOSTINO MEDIANO CONG',
       'LANGOSTINO PEQUEÑO CONG', 'LANGOSTINO S.CABEZA COLA CONG',
       'LANGOSTINO COCIDO GRANDE CONG', 'LANGOSTINO COCIDO MEDIANO CONG',
       'LANGOSTINO COCIDO PEQUEÑO CONG', 'LANGOSTINO TIGRE CONG',
       'JIBIA SUCIA CONG', 'JIBIA LIMPIA CONG', 'BACALAO TROZOS CONG',
       'BESUGO CONG', 'BONITO S/C. CONG', 'BONITO C/C. CONG',
       'CARABINERO GRANDE CONG', 'CARIBENEROS MEDIANOS CONG',
       'CARABINERO PEQUEÑO CONG', 'CIGALAS GRANDES CONG',
       'CIGALAS MEDIANAS CONG', 'CIGALAS PEQUEÑAS CONG', 'HUEVAS CONG',
       'PULPO GALLEGO CONG', 'RAPE CONG', 'VOLADORES O POTAS CONG',
       'SALMON CONG', 'SALMON RODAJAS CONG', 'SALMON FILETE CONG',
       'VIEIRAS CONG', 'EMPANADILLAS CONG', 'CROQUETAS CONG',
       'CALAMARES ROMANA CONG', 'PALITOS DE MERLUZA CONG',
       'MUSLITOS CONG', 'PEZ ESPADA CONG', 'PATAS O PECHOS CANGREJO CONG',
       'PERCA CONG', 'CAZON CONG', 'SURIMI CONG', 'GULA CONG',
       'REJO CONGELADO CONG', 'TINTORERA O CAELLA CONG',
       'ATUN CON CABEZA CONG', 'BOGAVANTE CONGELADO CONG',
       'ELABORADOS CONGELADOS CONG', 'HALIBUT CONGELADO CONG',
       'AVÍCOLA FRESCO SIN ESPECI', 'PORCINO CONG SIN ESPECIF',
       'AVÍCOLA CONG SIN ESPECIF', 'CIRUELA RED BEAUTY',
       'MANDARINAS HERNANDINA', 'MELOCOTONES AMARILLO', 'NISPEROS',
       'KUMKUAT', 'ROMANESCU', 'TIRABEQUES', 'KALE',
       'BACALAO ENTERO C/C 1/2 KG', 'BOQUERON ITALIANO GRANDE',
       'EMPERADOR', 'MAGRE', 'PESCADA', 'ANGULA', 'CABRACHO O RASCACIO',
       'MELVA', 'SOLLA', 'SALEMAS', 'CONSERVAS DE PESCADO',
       'PESCADA CONG', 'CHIPIRONES CONG', 'BUEY CONG',
       'PESCADOS AHUMADOS CONG', 'PANGA FILETE CONG', 'VACUNO ELABORADO',
       'PERDIZ', 'VACUNO DESPIECE', 'OVINO DESPIECE CONG.',
       'PORCINO DESPIECE CONG.', 'MANDARINA ORTANIQUE',
       'NARANJA VALENCIA LATE', 'RESTO DE FRUTAS',
       'ALCACHOFA BLANCA TUDELA', 'RABANILLAS', 'HINOJO',
       'RESTO DE HORTALIZAS', 'RESTO DE PATATAS', 'ATUN PATUDO U OBESO',
       'MUJOL', 'SABLE', 'ALACHA', 'CABALLA O VERDEL GRANDE',
       'CABALLA O VERDEL PEQUEÑA', 'SALMON PEQUEÑO 1-3 KG',
       'RESTO PESCADO FRESCO', 'CHIRLA NACIONAL GRANDE',
       'RESTO MARISCO FRESCO', 'NECORA COCIDA GRANDE 8-12 CONG',
       'RESTO CONGELADOS CONG', 'OVINO CASQUERIA',
       'VACUNO CONG. SIN ESPECIF', 'OVINO CONG. SIN ESPECIF',
       'LIMONES VERNA', 'NARANJA NAVEL POWEL', 'PARAGUAYAS', 'ZAPOTES',
       'FISALIS', 'LISA', 'BERBERECHO CONG', 'AVICOLA PRECOCINADO',
       'BREVAS', 'BERROS', 'SARDINA NORMAL', 'MERO CONG', 'DORADA CONG',
       'CIRUELA FRESA', 'LIMON EUREKA', 'PERAS CASTELL O SANJUANER',
       'PERA MAGALLON', 'UVA CARDINALE', 'UVA VICTORIA',
       'FRUTA DE LA PASION', 'SETA/HONGO BOLETUS EDULIS',
       'FILETE DE SARDINA', 'BERTORELLAS', 'CENTOLLOS CONG',
       'LUBINA CONG', 'CIRUELAS REINA CLAUDIA',
       'CIRUELAS CLAUDIA FRANCESA', 'HIGOS VERDES', 'HIGOS NEGROS',
       'PERAS LIMONERAS', 'HIGO CHUMBO', 'LULAS', 'MARRAJOS',
       'BACALADILLA-LIRIO MEDIANO', 'REJOS', 'CHIRLA NACIONAL PEQUEÑA',
       'LANGOSTA CONG', 'LANGOSTA COLAS CONG', 'PALOMETA O JAPUTA CONG',
       'CIRUELAS TOLOSA', 'CIRUELA SUN GOLD', 'CIRUELA ANGELENO',
       'MELOCOTONES CALANDA', 'UVA MOSCATEL ESPAÑOLA', 'UVA IDEAL',
       'UVA ALFONSO LAVALLE', 'UVA VILLANUEVA', 'CARAMBOLA', 'GUANÁBANA',
       'AGUJA', 'GALLOS CONG', 'CORVINA CONG', 'ALMEJA CONG',
       'CIRUELA ANASPAR', 'MANDARINAS SATSUMAS',
       'PESCADILLA NEGRA PELONA', 'RODABALLO CONG',
       'COCOCHAS MERLUZA CONG', 'COCOCHA BACALAO CONG',
       'COCOCHAS RAPE CONG'], dtype=object)

Se observa que de un mismo producto hay varias variedades (Ejemplo: producto Vacuno, variedades Canal,Despiece,etc...) Para poder comparar la cantidad de compras de cada producto se optara por agrupar en una nueva columna todas las variedades en una única categoría.

In [95]:
# Función para crear
def agregar_tipo_general(df, columna_descripcion):
    """
    Agrega una columna de tipo general basada en la primera palabra de la columna de descripción.

    Args:
        df (pd.DataFrame): DataFrame que contiene la columna de descripción.
        columna_descripcion (str): Nombre de la columna con las descripciones específicas.

    Returns:
        pd.DataFrame: DataFrame con una nueva columna 'tipo_general'.
    """
    # Crear la nueva columna basada en la primera palabra de la descripción
    df['tipo_general'] = df[columna_descripcion].str.split().str[0].str.upper()
    return df

# Aplicar la función
df = agregar_tipo_general(df, 'descripción_variedad')

# Verificar el resultado
print(df[['descripción_variedad', 'tipo_general']].head())

  descripción_variedad tipo_general
0         VACUNO CANAL       VACUNO
1         VACUNO CANAL       VACUNO
2         VACUNO CANAL       VACUNO
3         VACUNO CANAL       VACUNO
4         VACUNO CANAL       VACUNO

In [96]:
df.head()

,fecha_desde,fecha_hasta,código_variedad,descripción_variedad,origen,descripción_origen,kilos,precio_más_frecuente,precio_máximo,precio_mínimo,var_precios,trimestre,tipo_general
0,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,1,ALAVA,45830,5.90,5.91,5.89,0.02,1,VACUNO
1,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,5,AVILA,21140,5.91,5.91,5.91,0.00,1,VACUNO
2,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,8,BARCELONA,137340,5.91,5.91,5.90,0.01,1,VACUNO
3,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,9,BURGOS,42456,5.90,5.91,5.89,0.02,1,VACUNO
4,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,10,CACERES,2230424,5.90,5.91,5.89,0.02,1,VACUNO

In [97]:
# Columna categoría producto (hay varias categorias duplicadas una en singular y la otra en plural)
df['tipo_general'].unique()

array(['VACUNO', 'OVINO', 'PORCINO', 'HUEVOS', 'POLLO', 'PAVO',
       'CODORNIZ', 'CONEJO', 'AVICOLA', 'AGUACATE', 'ALBARICOQUE',
       'CAQUIS', 'CAQUI', 'CASTAÑA', 'CEREZAS', 'CIRUELAS', 'COCOS',
       'CHIRIMOYAS', 'DATILES', 'DATIL', 'FRESON', 'GRANADAS', 'HIGOS',
       'LIMON', 'MANDARINAS', 'MANDARINA', 'MANZANAS', 'MANZANA',
       'MELOCOTON', 'MELONES', 'MEMBRILLOS', 'NARANJAS', 'NARANJA',
       'NECTARINA', 'NUECES', 'PERAS', 'PIÑA', 'PLATANOS', 'PLATANO',
       'POMELO', 'SANDIA', 'UVA', 'ACEITUNAS', 'PAPAYA', 'GUAYABOS',
       'MANGOS', 'KIWI', 'FRAMBUESAS', 'PITAHAYA', 'LIMA', 'OCRA',
       'LITCHIS', 'GROSELLA', 'MORAS', 'CACAHUETE', 'PANCHITO',
       'PISTACHO', 'ALMENDRA', 'ARÁNDANOS', 'ACELGAS', 'AJOS', 'AJO',
       'ALCACHOFAS', 'APIO', 'APIONABO', 'BERENJENAS', 'BONIATOS',
       'CALABACIN', 'CALABAZAS', 'CALABAZA', 'CARDOS', 'CEBOLLA',
       'COLES-REPOLLO', 'COL', 'COLES', 'COLIFLOR', 'CHAMPIÑON',
       'CHIRIVIAS', 'ENDIVIA', 'ACHICORIA', 'ESCAROLAS', 'ESPARRAGOS',
       'ESPARRAGO', 'ESPINACAS', 'GUISANTES', 'HABAS', 'JUDIAS', 'JUDIA',
       'LECHUGAS', 'LECHUGA', 'NABOS', 'PEPINO', 'PEREJIL', 'PIMIENTO',
       'PIMIENTOS', 'PUERROS', 'RABANOS', 'REMOLACHA', 'SETAS', 'SETA',
       'TOMATE', 'ZANAHORIAS', 'ZANAHORIA', 'BATATAS', 'GRELOS',
       'GUINDILLAS', 'BORRAJAS', 'LAUREL', 'BROCOLI', 'YUCA', 'MAIZ',
       'JENGIBRE', 'YAME', 'CUARTA', 'QUINTA', 'CONSERVAS', 'CONGELADOS',
       'ELABORADOS', 'CEBOLLINO', 'GERMINADOS', 'MICROVEGETALES', 'EDDO',
       'FLORES', 'HIERBAS', 'PAK', 'PATATA', 'ACEDIAS', 'ANCHOAS', 'ATUN',
       'BACALAO', 'BESUGO', 'BOGAS', 'BOQUERON', 'BONITO', 'BRECAS',
       'CALAMAR', 'CAZON', 'DORADA', 'FANECAS', 'GALLO', 'HUEVAS',
       'JUREL', 'LENGUADO', 'LIBA', 'LIRIO', 'MERLUZA', 'PALOMETA-JAPUTA',
       'PESCADILLA', 'PESCAD.', 'PEZ', 'COCOCHAS', 'COCOCHA', 'PULPO',
       'RAPE', 'RAYA', 'MENDOS', 'TINTORERA', 'BACALADILLA-LIRIO',
       'JIBIA', 'ALIGOTE', 'ARENQUE', 'BROTOLA', 'CABALLA', 'CACHUCHO',
       'CONGRIO', 'CORVINA', 'DENTON', 'GALLINAS', 'LUBINA', 'MARUCA',
       'PARGO', 'RODABALLO', 'ROSADA', 'FILETE', 'SALMON', 'SARDINA',
       'SARGO', 'ANILLAS', 'MERO', 'ABADEJO', 'BAILAS', 'CHERNAS',
       'LENGUADINA', 'PLATIJA', 'CHIPIRONES', 'SALMONETE', 'TRUCHA',
       'PERCA', 'ANCHOA', 'PALOMETA', 'CARBONERO', 'GULA', 'SAN',
       'SALAZONES', 'TILAPIA', 'ALMEJAS', 'ALMEJA', 'CANGREJO', 'CIGALAS',
       'CHIRLA', 'GAMBAS', 'LANGOSTINO', 'MEJILLON', 'PERCEBE',
       'QUISQUILLA', 'BERBERECHO', 'BIGAROS', 'BOGAVANTE', 'BUEY',
       'CARABINERO', 'CENTOLLA', 'COQUINAS', 'CHOCHAS', 'LANGOSTAS',
       'NAVAJAS', 'NAVAJA', 'NECORAS', 'OSTIONES', 'OSTRA', 'VIEIRA',
       'CARACOLES', 'CAÑADILLA', 'CONCHA', 'ERIZO', 'SARDINAS', 'GAMBA',
       'CARIBENEROS', 'VOLADORES', 'VIEIRAS', 'EMPANADILLAS', 'CROQUETAS',
       'CALAMARES', 'PALITOS', 'MUSLITOS', 'PATAS', 'SURIMI', 'REJO',
       'HALIBUT', 'AVÍCOLA', 'CIRUELA', 'MELOCOTONES', 'NISPEROS',
       'KUMKUAT', 'ROMANESCU', 'TIRABEQUES', 'KALE', 'EMPERADOR', 'MAGRE',
       'PESCADA', 'ANGULA', 'CABRACHO', 'MELVA', 'SOLLA', 'SALEMAS',
       'PESCADOS', 'PANGA', 'PERDIZ', 'RESTO', 'ALCACHOFA', 'RABANILLAS',
       'HINOJO', 'MUJOL', 'SABLE', 'ALACHA', 'NECORA', 'LIMONES',
       'PARAGUAYAS', 'ZAPOTES', 'FISALIS', 'LISA', 'BREVAS', 'BERROS',
       'PERA', 'FRUTA', 'SETA/HONGO', 'BERTORELLAS', 'CENTOLLOS', 'HIGO',
       'LULAS', 'MARRAJOS', 'REJOS', 'LANGOSTA', 'CARAMBOLA', 'GUANÁBANA',
       'AGUJA', 'GALLOS'], dtype=object)

In [98]:
from difflib import get_close_matches

# Función para agrupar singulares y plurales
def agrupar_categorias(categorias, threshold=0.8):
    agrupaciones = {}
    for categoria in categorias:
        # Buscar categorías similares (con un umbral de similitud)
        similares = get_close_matches(categoria, list(agrupaciones.keys()), n=1, cutoff=threshold)
        if similares:
            # Si hay una categoría similar, agruparla
            agrupaciones[similares[0]].append(categoria)
        else:
            # Si no, crear una nueva clave en el diccionario
            agrupaciones[categoria] = [categoria]
    
    # Crear un diccionario plano (clave-valor)
    categoria_to_grupo = {item: grupo for grupo, items in agrupaciones.items() for item in items}
    return categoria_to_grupo

# Agrupar las categorías
categoria_to_grupo = agrupar_categorias(df['tipo_general'])
df['nueva_categoria'] = df['tipo_general'].map(categoria_to_grupo)

In [99]:
df['nueva_categoria'].unique()

array(['VACUNO', 'OVINO', 'PORCINO', 'HUEVOS', 'POLLO', 'PAVO',
       'CODORNIZ', 'CONEJO', 'AVICOLA', 'AGUACATE', 'ALBARICOQUE',
       'CAQUIS', 'CASTAÑA', 'CEREZAS', 'CIRUELAS', 'COCOS', 'CHIRIMOYAS',
       'DATILES', 'FRESON', 'GRANADAS', 'HIGOS', 'LIMON', 'MANDARINAS',
       'MANZANAS', 'MELOCOTON', 'MELONES', 'MEMBRILLOS', 'NARANJAS',
       'NECTARINA', 'NUECES', 'PERAS', 'PIÑA', 'PLATANOS', 'POMELO',
       'SANDIA', 'UVA', 'ACEITUNAS', 'PAPAYA', 'GUAYABOS', 'MANGOS',
       'KIWI', 'FRAMBUESAS', 'PITAHAYA', 'LIMA', 'OCRA', 'LITCHIS',
       'GROSELLA', 'MORAS', 'CACAHUETE', 'PANCHITO', 'PISTACHO',
       'ALMENDRA', 'ARÁNDANOS', 'ACELGAS', 'AJOS', 'ALCACHOFAS', 'APIO',
       'APIONABO', 'BERENJENAS', 'BONIATOS', 'CALABACIN', 'CALABAZAS',
       'CARDOS', 'CEBOLLA', 'COLES-REPOLLO', 'COL', 'COLES', 'COLIFLOR',
       'CHAMPIÑON', 'CHIRIVIAS', 'ENDIVIA', 'ACHICORIA', 'ESCAROLAS',
       'ESPARRAGOS', 'ESPINACAS', 'GUISANTES', 'HABAS', 'JUDIAS',
       'LECHUGAS', 'NABOS', 'PEPINO', 'PEREJIL', 'PIMIENTO', 'PUERROS',
       'RABANOS', 'REMOLACHA', 'SETAS', 'TOMATE', 'ZANAHORIAS', 'BATATAS',
       'GRELOS', 'GUINDILLAS', 'BORRAJAS', 'LAUREL', 'BROCOLI', 'YUCA',
       'MAIZ', 'JENGIBRE', 'YAME', 'CUARTA', 'QUINTA', 'CONSERVAS',
       'CONGELADOS', 'ELABORADOS', 'CEBOLLINO', 'GERMINADOS',
       'MICROVEGETALES', 'EDDO', 'FLORES', 'HIERBAS', 'PAK', 'PATATA',
       'ACEDIAS', 'ANCHOAS', 'ATUN', 'BACALAO', 'BESUGO', 'BOGAS',
       'BOQUERON', 'BRECAS', 'CALAMAR', 'CAZON', 'DORADA', 'FANECAS',
       'GALLO', 'JUREL', 'LENGUADO', 'LIBA', 'LIRIO', 'MERLUZA',
       'PALOMETA-JAPUTA', 'PESCADILLA', 'PESCAD.', 'PEZ', 'COCOCHAS',
       'PULPO', 'RAPE', 'RAYA', 'MENDOS', 'TINTORERA',
       'BACALADILLA-LIRIO', 'JIBIA', 'ALIGOTE', 'ARENQUE', 'BROTOLA',
       'CABALLA', 'CACHUCHO', 'CONGRIO', 'CORVINA', 'DENTON', 'GALLINAS',
       'LUBINA', 'MARUCA', 'PARGO', 'RODABALLO', 'ROSADA', 'FILETE',
       'SALMON', 'SARDINA', 'ANILLAS', 'MERO', 'ABADEJO', 'BAILAS',
       'CHERNAS', 'LENGUADINA', 'PLATIJA', 'CHIPIRONES', 'TRUCHA',
       'PALOMETA', 'CARBONERO', 'GULA', 'SAN', 'SALAZONES', 'TILAPIA',
       'ALMEJAS', 'CANGREJO', 'CIGALAS', 'CHIRLA', 'GAMBAS', 'LANGOSTINO',
       'MEJILLON', 'PERCEBE', 'QUISQUILLA', 'BERBERECHO', 'BIGAROS',
       'BOGAVANTE', 'BUEY', 'CENTOLLOS', 'COQUINAS', 'LANGOSTAS',
       'NAVAJA', 'NECORAS', 'OSTIONES', 'OSTRA', 'VIEIRA', 'CARACOLES',
       'CAÑADILLA', 'CONCHA', 'ERIZO', 'VOLADORES', 'EMPANADILLAS',
       'CROQUETAS', 'PALITOS', 'MUSLITOS', 'PATAS', 'SURIMI', 'REJO',
       'HALIBUT', 'NISPEROS', 'KUMKUAT', 'ROMANESCU', 'TIRABEQUES',
       'KALE', 'EMPERADOR', 'MAGRE', 'CABRACHO', 'MELVA', 'SOLLA',
       'SALEMAS', 'PANGA', 'PERDIZ', 'RESTO', 'HINOJO', 'MUJOL', 'SABLE',
       'ALACHA', 'PARAGUAYAS', 'ZAPOTES', 'FISALIS', 'LISA', 'BERROS',
       'FRUTA', 'SETA/HONGO', 'BERTORELLAS', 'LULAS', 'MARRAJOS',
       'CARAMBOLA', 'GUANÁBANA', 'AGUJA'], dtype=object)

In [100]:
df['nueva_categoria']

# Agrupar por 'nueva_categoria' y sumar 'kilos'
top_productos = (
    df.groupby('nueva_categoria', as_index=False)['kilos']
    .sum()
    .sort_values(by='kilos', ascending=False)
    .head(24)
)

# Filtrar el DataFrame original con los 5 productos más comprados
df_top_productos = df[['nueva_categoria', 'kilos']][df['nueva_categoria'].isin(top_productos['nueva_categoria'])]


# Categorias  producto top 5
df_top_productos['nueva_categoria'].unique()

array(['VACUNO', 'OVINO', 'PORCINO', 'POLLO', 'AGUACATE', 'FRESON',
       'LIMON', 'MANDARINAS', 'MANZANAS', 'MELOCOTON', 'MELONES',
       'NARANJAS', 'PERAS', 'PIÑA', 'PLATANOS', 'SANDIA', 'UVA', 'KIWI',
       'CEBOLLA', 'LECHUGAS', 'PIMIENTO', 'TOMATE', 'ZANAHORIAS',
       'PATATA'], dtype=object)

In [101]:
# df_top_productos = df_top_productos.groupby('nueva_categoria')['kilos']
# df_top_productos

# PRODUCTOS MÁS VENDIDOS
print(df_top_productos.groupby('nueva_categoria')['kilos'].sum().sort_values(ascending= False))

nueva_categoria
VACUNO        503962183
PATATA        199923679
NARANJAS      153259544
PLATANOS      151958315
TOMATE        130187940
PORCINO       100780961
MANZANAS       99177288
CEBOLLA        79423871
LECHUGAS       62370447
PIMIENTO       55632271
PERAS          45594835
SANDIA         41854304
POLLO          40692761
MELONES        39619225
MELOCOTON      38709292
PIÑA           38521188
KIWI           33013482
ZANAHORIAS     32474789
AGUACATE       29768861
LIMON          29561996
FRESON         26078424
MANDARINAS     21607928
OVINO          19655516
UVA            18741067
Name: kilos, dtype: int64

In [102]:
df['nueva_categoria'].unique()

array(['VACUNO', 'OVINO', 'PORCINO', 'HUEVOS', 'POLLO', 'PAVO',
       'CODORNIZ', 'CONEJO', 'AVICOLA', 'AGUACATE', 'ALBARICOQUE',
       'CAQUIS', 'CASTAÑA', 'CEREZAS', 'CIRUELAS', 'COCOS', 'CHIRIMOYAS',
       'DATILES', 'FRESON', 'GRANADAS', 'HIGOS', 'LIMON', 'MANDARINAS',
       'MANZANAS', 'MELOCOTON', 'MELONES', 'MEMBRILLOS', 'NARANJAS',
       'NECTARINA', 'NUECES', 'PERAS', 'PIÑA', 'PLATANOS', 'POMELO',
       'SANDIA', 'UVA', 'ACEITUNAS', 'PAPAYA', 'GUAYABOS', 'MANGOS',
       'KIWI', 'FRAMBUESAS', 'PITAHAYA', 'LIMA', 'OCRA', 'LITCHIS',
       'GROSELLA', 'MORAS', 'CACAHUETE', 'PANCHITO', 'PISTACHO',
       'ALMENDRA', 'ARÁNDANOS', 'ACELGAS', 'AJOS', 'ALCACHOFAS', 'APIO',
       'APIONABO', 'BERENJENAS', 'BONIATOS', 'CALABACIN', 'CALABAZAS',
       'CARDOS', 'CEBOLLA', 'COLES-REPOLLO', 'COL', 'COLES', 'COLIFLOR',
       'CHAMPIÑON', 'CHIRIVIAS', 'ENDIVIA', 'ACHICORIA', 'ESCAROLAS',
       'ESPARRAGOS', 'ESPINACAS', 'GUISANTES', 'HABAS', 'JUDIAS',
       'LECHUGAS', 'NABOS', 'PEPINO', 'PEREJIL', 'PIMIENTO', 'PUERROS',
       'RABANOS', 'REMOLACHA', 'SETAS', 'TOMATE', 'ZANAHORIAS', 'BATATAS',
       'GRELOS', 'GUINDILLAS', 'BORRAJAS', 'LAUREL', 'BROCOLI', 'YUCA',
       'MAIZ', 'JENGIBRE', 'YAME', 'CUARTA', 'QUINTA', 'CONSERVAS',
       'CONGELADOS', 'ELABORADOS', 'CEBOLLINO', 'GERMINADOS',
       'MICROVEGETALES', 'EDDO', 'FLORES', 'HIERBAS', 'PAK', 'PATATA',
       'ACEDIAS', 'ANCHOAS', 'ATUN', 'BACALAO', 'BESUGO', 'BOGAS',
       'BOQUERON', 'BRECAS', 'CALAMAR', 'CAZON', 'DORADA', 'FANECAS',
       'GALLO', 'JUREL', 'LENGUADO', 'LIBA', 'LIRIO', 'MERLUZA',
       'PALOMETA-JAPUTA', 'PESCADILLA', 'PESCAD.', 'PEZ', 'COCOCHAS',
       'PULPO', 'RAPE', 'RAYA', 'MENDOS', 'TINTORERA',
       'BACALADILLA-LIRIO', 'JIBIA', 'ALIGOTE', 'ARENQUE', 'BROTOLA',
       'CABALLA', 'CACHUCHO', 'CONGRIO', 'CORVINA', 'DENTON', 'GALLINAS',
       'LUBINA', 'MARUCA', 'PARGO', 'RODABALLO', 'ROSADA', 'FILETE',
       'SALMON', 'SARDINA', 'ANILLAS', 'MERO', 'ABADEJO', 'BAILAS',
       'CHERNAS', 'LENGUADINA', 'PLATIJA', 'CHIPIRONES', 'TRUCHA',
       'PALOMETA', 'CARBONERO', 'GULA', 'SAN', 'SALAZONES', 'TILAPIA',
       'ALMEJAS', 'CANGREJO', 'CIGALAS', 'CHIRLA', 'GAMBAS', 'LANGOSTINO',
       'MEJILLON', 'PERCEBE', 'QUISQUILLA', 'BERBERECHO', 'BIGAROS',
       'BOGAVANTE', 'BUEY', 'CENTOLLOS', 'COQUINAS', 'LANGOSTAS',
       'NAVAJA', 'NECORAS', 'OSTIONES', 'OSTRA', 'VIEIRA', 'CARACOLES',
       'CAÑADILLA', 'CONCHA', 'ERIZO', 'VOLADORES', 'EMPANADILLAS',
       'CROQUETAS', 'PALITOS', 'MUSLITOS', 'PATAS', 'SURIMI', 'REJO',
       'HALIBUT', 'NISPEROS', 'KUMKUAT', 'ROMANESCU', 'TIRABEQUES',
       'KALE', 'EMPERADOR', 'MAGRE', 'CABRACHO', 'MELVA', 'SOLLA',
       'SALEMAS', 'PANGA', 'PERDIZ', 'RESTO', 'HINOJO', 'MUJOL', 'SABLE',
       'ALACHA', 'PARAGUAYAS', 'ZAPOTES', 'FISALIS', 'LISA', 'BERROS',
       'FRUTA', 'SETA/HONGO', 'BERTORELLAS', 'LULAS', 'MARRAJOS',
       'CARAMBOLA', 'GUANÁBANA', 'AGUJA'], dtype=object)

In [103]:
df['descripción_origen'].unique()

array([' ALAVA               ', ' AVILA               ',
       ' BARCELONA           ', ' BURGOS              ',
       ' CACERES             ', ' CORDOBA             ',
       ' LA CORUÑA           ', ' CUENCA              ',
       ' GERONA              ', ' GUADALAJARA         ',
       ' GUIPUZCOA           ', ' HUELVA              ',
       ' HUESCA              ', ' LEON                ',
       ' LERIDA              ', ' LUGO                ',
       ' MADRID              ', ' NAVARRA             ',
       ' ORENSE              ', ' ASTURIAS            ',
       ' PONTEVEDRA          ', ' SALAMANCA           ',
       ' CANTABRIA           ', ' SEGOVIA             ',
       ' SEVILLA             ', ' TOLEDO              ',
       ' VALENCIA            ', ' VALLADOLID          ',
       ' VIZCAYA             ', ' ZAMORA              ',
       ' ZARAGOZA            ', ' POLONIA             ',
       ' FRANCIA             ', ' ALEMANIA            ',
       ' ITALIA              ', ' BELGICA             ',
       ' HOLANDA             ', ' IRLANDA             ',
       ' PORTUGAL            ', ' DINAMARCA           ',
       ' AUSTRIA             ', ' CIUDAD REAL         ',
       ' MURCIA              ', ' NACIONAL SIN ASIGNAR',
       ' IMPORTACION SIN ASIG', ' BADAJOZ             ',
       ' SORIA               ', ' GRECIA              ',
       ' JAEN                ', ' LA RIOJA            ',
       ' PALENCIA            ', ' ALMERIA             ',
       ' MALAGA              ', ' ALICANTE            ',
       ' ALBACETE            ', ' CADIZ               ',
       ' TARRAGONA           ', ' GRANADA             ',
       ' GUATEMALA           ', ' REPUBLICA DOMINICANA',
       ' BRASIL              ', ' ISRAEL              ',
       ' MARRUECOS           ', ' SUDAFRICA           ',
       ' CHILE               ', ' MEJICO              ',
       ' CASTELLON           ', ' CHINA               ',
       ' ARGENTINA           ', ' COSTA DE MARFIL     ',
       ' PERU                ', ' TURQUIA             ',
       ' EGIPTO              ', ' ESTADOS UNIDOS      ',
       ' PANAMA              ', ' COSTA RICA          ',
       ' ANGOLA              ', ' LAS PALMAS          ',
       ' STA.CRUZ DE TENERIFE', ' COLOMBIA            ',
       ' ECUADOR             ', ' CAMERUN             ',
       ' MAURITANIA          ', ' HONDURAS            ',
       ' OTROS PAIS.AFRICANOS', ' NORUEGA             ',
       ' CANADA              ', ' GRAN BRETAÑA        ',
       ' SENEGAL             ', ' BULGARIA            ',
       ' TERUEL              ', ' INDIA               ',
       ' TAILANDIA           ', ' TÚNEZ               ',
       ' NUEVA ZELANDA       ', ' SUIZA               ',
       ' BALEARES            ', ' SUECIA              ',
       ' ISLANDIA            ', ' KENIA               ',
       ' RUMANÍA             '], dtype=object)

In [104]:
# Convertir la columna descripción_origen a string
df['descripción_origen'] = df['descripción_origen'].astype('string')

In [105]:
df['descripción_origen'].info()

<class 'pandas.core.series.Series'>
Index: 27571 entries, 0 to 27578
Series name: descripción_origen
Non-Null Count  Dtype
--------------  -----
27571 non-null  string
dtypes: string(1)
memory usage: 430.8 KB

In [106]:

#Lista ciudades españolas
ciudades = ['ALAVA', 'AVILA','BARCELONA', ' BURGOS',' CACERES', ' CORDOBA ',' LA CORUÑA', ' CUENCA  ',' GERONA ', 'GUADALAJARA',' GUIPUZCOA ',' HUELVA ',' HUESCA', ' LEON ',' LERIDA', ' LUGO ','MADRID', 'NAVARRA',
'ORENSE', 'ASTURIAS',' PONTEVEDRA', 'SALAMANCA',' CANTABRIA', 'SEGOVIA',' SEVILLA', 'TOLEDO',' VALENCIA', 'VALLADOLID','VIZCAYA','ZAMORA',' ZARAGOZA','CIUDAD REAL',' MURCIA',
'NACIONAL SIN ASIGNAR','BADAJOZ','SORIA',' JAEN', 'LA RIOJA','PALENCIA', 'ALMERIA','MALAGA','ALICANTE','ALBACETE','CADIZ','TARRAGONA','GRANADA','CASTELLON','LAS PALMAS',
'STA.CRUZ DE TENERIFE', 'BALEARES','TERUEL']

# Eliminar espacios en ciudades
ciudades = [ciudad.strip() for ciudad in ciudades]

# Función transformar ciudades españa a ESPAÑA
def conversion_pais(origen):
    origen = origen.strip()  # Eliminar espacios
    if origen in ciudades:
        return 'ESPAÑA'
    else:
        return origen

# Se crea nueva columna origen ( Que solo contara con los países de procedencia y no con ciudades)
df['origen'] = df['descripción_origen'].apply(conversion_pais)

In [107]:
# Comprobación
df['origen'].unique()

array(['ESPAÑA', 'POLONIA', 'FRANCIA', 'ALEMANIA', 'ITALIA', 'BELGICA',
       'HOLANDA', 'IRLANDA', 'PORTUGAL', 'DINAMARCA', 'AUSTRIA',
       'IMPORTACION SIN ASIG', 'GRECIA', 'GUATEMALA',
       'REPUBLICA DOMINICANA', 'BRASIL', 'ISRAEL', 'MARRUECOS',
       'SUDAFRICA', 'CHILE', 'MEJICO', 'CHINA', 'ARGENTINA',
       'COSTA DE MARFIL', 'PERU', 'TURQUIA', 'EGIPTO', 'ESTADOS UNIDOS',
       'PANAMA', 'COSTA RICA', 'ANGOLA', 'COLOMBIA', 'ECUADOR', 'CAMERUN',
       'MAURITANIA', 'HONDURAS', 'OTROS PAIS.AFRICANOS', 'NORUEGA',
       'CANADA', 'GRAN BRETAÑA', 'SENEGAL', 'BULGARIA', 'INDIA',
       'TAILANDIA', 'TÚNEZ', 'NUEVA ZELANDA', 'SUIZA', 'SUECIA',
       'ISLANDIA', 'KENIA', 'RUMANÍA'], dtype=object)

In [108]:
# producto nacional vs internacional
df['nacional_inter'] = df['origen'].apply(lambda x: x if x == 'ESPAÑA' else 'RESTO')

In [109]:
df.head()

,fecha_desde,fecha_hasta,código_variedad,descripción_variedad,origen,descripción_origen,kilos,precio_más_frecuente,precio_máximo,precio_mínimo,var_precios,trimestre,tipo_general,nueva_categoria,nacional_inter
0,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,ESPAÑA,ALAVA,45830,5.90,5.91,5.89,0.02,1,VACUNO,VACUNO,ESPAÑA
1,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,ESPAÑA,AVILA,21140,5.91,5.91,5.91,0.00,1,VACUNO,VACUNO,ESPAÑA
2,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,ESPAÑA,BARCELONA,137340,5.91,5.91,5.90,0.01,1,VACUNO,VACUNO,ESPAÑA
3,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,ESPAÑA,BURGOS,42456,5.90,5.91,5.89,0.02,1,VACUNO,VACUNO,ESPAÑA
4,2024-01-01,2024-01-31,CA 0101,VACUNO CANAL,ESPAÑA,CACERES,2230424,5.90,5.91,5.89,0.02,1,VACUNO,VACUNO,ESPAÑA

In [110]:
df['nueva_categoria'].unique()

array(['VACUNO', 'OVINO', 'PORCINO', 'HUEVOS', 'POLLO', 'PAVO',
       'CODORNIZ', 'CONEJO', 'AVICOLA', 'AGUACATE', 'ALBARICOQUE',
       'CAQUIS', 'CASTAÑA', 'CEREZAS', 'CIRUELAS', 'COCOS', 'CHIRIMOYAS',
       'DATILES', 'FRESON', 'GRANADAS', 'HIGOS', 'LIMON', 'MANDARINAS',
       'MANZANAS', 'MELOCOTON', 'MELONES', 'MEMBRILLOS', 'NARANJAS',
       'NECTARINA', 'NUECES', 'PERAS', 'PIÑA', 'PLATANOS', 'POMELO',
       'SANDIA', 'UVA', 'ACEITUNAS', 'PAPAYA', 'GUAYABOS', 'MANGOS',
       'KIWI', 'FRAMBUESAS', 'PITAHAYA', 'LIMA', 'OCRA', 'LITCHIS',
       'GROSELLA', 'MORAS', 'CACAHUETE', 'PANCHITO', 'PISTACHO',
       'ALMENDRA', 'ARÁNDANOS', 'ACELGAS', 'AJOS', 'ALCACHOFAS', 'APIO',
       'APIONABO', 'BERENJENAS', 'BONIATOS', 'CALABACIN', 'CALABAZAS',
       'CARDOS', 'CEBOLLA', 'COLES-REPOLLO', 'COL', 'COLES', 'COLIFLOR',
       'CHAMPIÑON', 'CHIRIVIAS', 'ENDIVIA', 'ACHICORIA', 'ESCAROLAS',
       'ESPARRAGOS', 'ESPINACAS', 'GUISANTES', 'HABAS', 'JUDIAS',
       'LECHUGAS', 'NABOS', 'PEPINO', 'PEREJIL', 'PIMIENTO', 'PUERROS',
       'RABANOS', 'REMOLACHA', 'SETAS', 'TOMATE', 'ZANAHORIAS', 'BATATAS',
       'GRELOS', 'GUINDILLAS', 'BORRAJAS', 'LAUREL', 'BROCOLI', 'YUCA',
       'MAIZ', 'JENGIBRE', 'YAME', 'CUARTA', 'QUINTA', 'CONSERVAS',
       'CONGELADOS', 'ELABORADOS', 'CEBOLLINO', 'GERMINADOS',
       'MICROVEGETALES', 'EDDO', 'FLORES', 'HIERBAS', 'PAK', 'PATATA',
       'ACEDIAS', 'ANCHOAS', 'ATUN', 'BACALAO', 'BESUGO', 'BOGAS',
       'BOQUERON', 'BRECAS', 'CALAMAR', 'CAZON', 'DORADA', 'FANECAS',
       'GALLO', 'JUREL', 'LENGUADO', 'LIBA', 'LIRIO', 'MERLUZA',
       'PALOMETA-JAPUTA', 'PESCADILLA', 'PESCAD.', 'PEZ', 'COCOCHAS',
       'PULPO', 'RAPE', 'RAYA', 'MENDOS', 'TINTORERA',
       'BACALADILLA-LIRIO', 'JIBIA', 'ALIGOTE', 'ARENQUE', 'BROTOLA',
       'CABALLA', 'CACHUCHO', 'CONGRIO', 'CORVINA', 'DENTON', 'GALLINAS',
       'LUBINA', 'MARUCA', 'PARGO', 'RODABALLO', 'ROSADA', 'FILETE',
       'SALMON', 'SARDINA', 'ANILLAS', 'MERO', 'ABADEJO', 'BAILAS',
       'CHERNAS', 'LENGUADINA', 'PLATIJA', 'CHIPIRONES', 'TRUCHA',
       'PALOMETA', 'CARBONERO', 'GULA', 'SAN', 'SALAZONES', 'TILAPIA',
       'ALMEJAS', 'CANGREJO', 'CIGALAS', 'CHIRLA', 'GAMBAS', 'LANGOSTINO',
       'MEJILLON', 'PERCEBE', 'QUISQUILLA', 'BERBERECHO', 'BIGAROS',
       'BOGAVANTE', 'BUEY', 'CENTOLLOS', 'COQUINAS', 'LANGOSTAS',
       'NAVAJA', 'NECORAS', 'OSTIONES', 'OSTRA', 'VIEIRA', 'CARACOLES',
       'CAÑADILLA', 'CONCHA', 'ERIZO', 'VOLADORES', 'EMPANADILLAS',
       'CROQUETAS', 'PALITOS', 'MUSLITOS', 'PATAS', 'SURIMI', 'REJO',
       'HALIBUT', 'NISPEROS', 'KUMKUAT', 'ROMANESCU', 'TIRABEQUES',
       'KALE', 'EMPERADOR', 'MAGRE', 'CABRACHO', 'MELVA', 'SOLLA',
       'SALEMAS', 'PANGA', 'PERDIZ', 'RESTO', 'HINOJO', 'MUJOL', 'SABLE',
       'ALACHA', 'PARAGUAYAS', 'ZAPOTES', 'FISALIS', 'LISA', 'BERROS',
       'FRUTA', 'SETA/HONGO', 'BERTORELLAS', 'LULAS', 'MARRAJOS',
       'CARAMBOLA', 'GUANÁBANA', 'AGUJA'], dtype=object)

In [112]:
# df.to_excel('mercamadrid alt.xlsx', index=False)

# print("Archivo Excel creado con éxito.")